<!--*** WORK IN PROGRESS ***-->
<!DOCTYPE html>
<html>
<head>
	<title>RGR Stock Open Price Movement Predictor</title>
</head>
<body>
	<form action="/submit">
		<p>
			<h1 style="color:black;font-size:35px;">
				Welcome to the stock open price movement predictor for Sturm, Ruger & Co. (Symbol: RGR).
			</h1>
			<h2>Today is {{time}}. Please click "Predict" to calculate the possibility that open stock price of RGR will increase in the next trade day.<br><br>It might take up to 5 mintues to run the calculation. Pleasee be patient and do not refresh the page.
			</h2>
			<h3>*This model & App is created by Jack Wang*
			</h3>
		</p>
		<p><button type="submit"><h1>Predict</h1></button></p>
	</form>
</body>
</html>
